<%- include('../layouts/header.ejs') %>
<div class="container pt-5">
  <div class="row justify-content-center">
    <div class="col-4">
      <% if(error && typeof error !=='undefined' ){ %>
      <div class="alert alert-danger"><%= error %></div>
      <% } %>
      <div class="card">
        <div class="card-header">
          <h4 class="mb-0 text-center py-2">Add new Patient</h4>
        </div>
        <div class="card-body">
          <form
            method="post"
            id="register-form"
            action="/admin/addPatient"
            novalidate
          >
            <div class="mb-3">
              <label for="name" class="form-label">Patient Name</label>
              <input
                type="text"
                name="name"
                id="name"
                class="form-control"
                placeholder="Enter name"
                required
              />
              <div class="invalid-feedback">Please enter fullname</div>
            </div>
            <div class="mb-3">
              <label for="mobile" class="form-label">Mobile</label>
              <input
                type="mobile"
                id="mobile"
                name="mobile"
                class="form-control"
                placeholder=" Enter mobile no."
                pattern="[0-9]{10}"
                required
              />
              <div class="invalid-feedback">Please enter mobile number</div>
            </div>
            <div class="mb-3">
              <label for="disease" class="form-label">Disease</label>
              <input
                type="text"
                id="disease"
                name="disease"
                class="form-control"
                placeholder=" Enter disease name"
                required
              />
              <div class="invalid-feedback">Please enter disease name</div>
            </div>
            <div class="mb-3">
              <label for="DoctorName" class="form-label">Doctor name</label>
              <input
                type="text"
                id="Doctor's name"
                name="DoctorName"
                class="form-control"
                placeholder=" Enter Doctor's name"
                required
              />
              <div class="invalid-feedback">Please enter Doctor's name</div>
            </div>
            <div class="mb-3">
              <label for="medicines" class="form-label">Medicines</label>
              <div class="custom-dropdown">
                <div class="dropdown-content">
                  <% medicines.forEach(function(medicine) { %>
                    <label for="<%= medicine.id %>">
                      <input type="checkbox" name="selectedMedicines" value="<%= medicine.id %>" id="<%= medicine.id %>">
                      <%= medicine.name %>
                    </label>
                  <% }); %>
                </div>
              </div>
              <div class="invalid-feedback">Please select the medicines</div>
            </div>

            <div class="d-grid mb-3">
              <button type="submit" class="btn btn-primary rounded-pill">
                Add
              </button>
            </div>
            <div class="d-grid mb-3">
              <a href="/admin/patients" class="btn btn-warning rounded-pill"
                >Back</a
              >
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const form = document.getElementById("register-form");

  console.log(form);

  form.addEventListener(
    "submit",
    (event) => {
      if (!form.checkValidity()) {
        event.preventDefault();
        event.stopPropagation();
        form.classList.add("was-validated");
      } else {
        form.submit();
      }
    },
    false
  );

  document.addEventListener("DOMContentLoaded", function () {
    const form = document.getElementById("register-form");
    const itemSelect = document.getElementById("itemSelect");
    const selectedItems = document.getElementById("selectedItems");

    form.addEventListener("submit", function (event) {
      if (!form.checkValidity()) {
        event.preventDefault();
        event.stopPropagation();
        form.classList.add("was-validated");
      } else {
        form.submit();
      }
    });
  });
  
</script>


<%- include('../layouts/footer.ejs') %>
