<%- include('../layouts/header.ejs') %>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="/admin/dashboard">Doctor Dashboard</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                More
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/admin/dashboard">staffs</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/admin/patients">Patients</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/admin/medicines">Medicines</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="/admin/medicineHistory">Medicine Distributions</a></li>
                <li><hr class="dropdown-divider"></li>
              <li>
                <form action="/admin/logout" method="post" class="dropdown-item">
                    <button type="submit" class="dropdown-item p-0">Logout</button>
                </form>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>


<% if(medicineDistributions.length){ %>
<div class="container mt-4">
  <h2>Medicine Distribution History</h2>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Medicine Slno.</th>
        <th>Medicine Name</th>
        <th>Count</th>
        <th>Patient Name<small>(Reg.No)</small></th>
        <th>Provided by<small>(staff name)</small></th>
        <th>Distributed Date</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody>
      <% medicineDistributions.forEach((med) => { %>
        <tr>
          <td><%= med.Slno %></td>
          <td><%= med.medicineName %></td>
          <td><%= med.count %></td>
          <td><%= med.patientName %>(<%= med.patientRgNo %>)</td>
          <td><%= med.staffName %></td>
          <td><%= med.distributedDate.toDateString() %></td>
          <td><%= med.distributedDate.toTimeString().split(" ")[0] %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>
<% }else{ %>
<div class="container mt-4">
  <center>
    <p class="text-secondary">
      No Distribution History Available
    </p>
  </center>
</div>

<% } %>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
  crossorigin="anonymous"
></script>

<%- include('../layouts/footer') %>
