<%- include('../../layouts/header.ejs') %>

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Admin Dashboard</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                More
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/admin/dashboard">Staffs</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/admin/patients">Patients</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/admin/medicines">Medicines</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="/admin/medicineHistory">Medicine Distributions</a></li>
                <li><hr class="dropdown-divider"></li>
              <li>
                <form action="/admin/logout" method="post" class="dropdown-item">
                    <button type="submit" class="dropdown-item p-0">Logout</button>
                </form>
              </li>
            </ul>
          </li>
        </ul>
        <div class="d-flex">
        <a href="/admin/addMedicine" type="button" class="btn btn-outline-primary rounded-pill ms-2">Add Medicine</a>
    </div>
        <form action="/admin/medicines/search" method="post">
            <div class="d-flex">
                <input type="search" name="q" placeholder="Search Medicine" class="form-control rounded-pill"/>
                <button type="submit" class="btn btn-success rounded-pill ms-2">Search</button>
            </div>
        </form>
      </div>
    </div>
  </nav>

<div class="container mt-4">
  <h2>Medicines List</h2>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Slno.</th>
                <th>Name</th>
                <th>Brand</th>
                <th>stock</th>
                <th>batch</th>
                <th>expiry</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <% medicines.forEach(medicine => { %>
              <% if(medicine.stock<10 || medicine.expiry <= new Date()){ %>
                <tr>
                    <td style="background-color: red;"><%= medicine.Slno %></td>
                    <td style="background-color: red;"><%= medicine.name %></td>
                    <td style="background-color: red;"><%= medicine.brand %></td>
                    <td style="background-color: red;"><%= medicine.stock %></td> 
                    <td style="background-color: red;"><%= medicine.batch %></td>
                    <td style="background-color: red;"><%= medicine.expiry.toDateString() %></td>
                    <td style="background-color: red;">
                        <a href="/admin/medicines/<%= medicine._id %>/edit" class="btn btn-warning btn-sm rounded-pill">Edit</a>
                        <form action="/admin/medicines/<%= medicine._id %>/destroy?_method=DELETE" method="POST" class="d-inline-block">
                            <button type="submit" onclick="return alert('Are you sure to delete this medicine?')" class="btn btn-sm btn-danger rounded-pill">Delete</a>
                        </form>
                    </td>
                </tr>
                <% }else{ %>
                  <tr>
                    <td><%= medicine.Slno %></td>
                    <td><%= medicine.name %></td>
                    <td><%= medicine.brand %></td>
                    <td><%= medicine.stock %></td> 
                    <td><%= medicine.batch %></td>
                    <td><%= medicine.expiry.toDateString() %></td>
                    <td>
                        <a href="/admin/medicines/<%= medicine._id %>/edit" class="btn btn-warning btn-sm rounded-pill">Edit</a>
                        <form action="/admin/medicines/<%= medicine._id %>/destroy?_method=DELETE" method="POST" class="d-inline-block">
                            <button type="submit" onclick="return alert('Are you sure to delete this medicine?')" class="btn btn-sm btn-danger rounded-pill">Delete</a>
                        </form>
                    </td>
                </tr>
                <% } %>
            <% }) %>
        </tbody>
    </table>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<%- include('../../layouts/footer.ejs') %>